/*---------- BACKGROUND --------*/

body
{
	background: black;
    background-size: fixed;
}

/*---------- BUTTON -----------*/
.iButton
{
    left: 650px;
    top: 500px;
    position: fixed;

    background: transparent;
    border-radius:2px;
    border:1px solid #336600;

    font-family: Segoe UI;
    font-size: 20px;
    text-align: center;
    color: white;
    text-align: center;
    text-shadow:0px 1px 6px #2f6627;
}

#filterText
{
    font: italic 16px 'segoe ui';
    text-align: right;    
    color: #00CCA0;
    
    position: fixed;
    top: 50px;
    right: 30px;
}

/*------------- VIDEO ------------*/
.videoText
{
    font: 21px 'segoe ui';
    color: #FFFFFF;
    position: fixed;
    text-shadow:0px 1px 6px #2f6627;
}

#beforeText
{
    top: 100px;
    left: 70px;
}

#afterText
{
    top: 100px;
    left: 736px;
}

.iVideo
{
    position:absolute;
    width: 560px;
    height: 315px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #003300;
}

#beforeVideo
{
    top: 160px;
    left: 70px;
}

#afterVideo
{
    top: 160px;
    left: 736px;
}